.header {
   background-color: #101010;
}

.header__row {
   padding: 15px 0;
}

.header__logo a {
   font-weight: bold;
   font-size: 30px;
   line-height: 40px;
   transition: all 0.2s;
}

.header__logo a:hover {
   color: #109ceb;
   transition: all 0.2s;
}

.header__link {
   font-size: 18px;
   line-height: 28px;
   transition: all 0.2s;
}

.header__link:first-child {
   margin-right: 15px;
}

.header__link:hover {
   color: #109ceb;
   transition: all 0.2s;
}