.item-list {
   display: flex;
   flex-direction: column;
   flex: 0 1 50%;
   margin-top: 35px;
   margin-right: 35px;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.items {
   padding: 20px 30px 30px 30px;
   list-style: none;
}

.item {
   font-size: 16px;
   line-height: 30px;
   cursor: pointer;
   transition: color 0.2s;
   border-bottom: 1px solid #b1b1b1;
}

.item:hover {
   color: #109ceb;
   transition: color 0.2s;
}

.item:not(:last-child) {
   margin-bottom: 10px;
}

.item-list .loadingio-spinner-eclipse-afuy3qqd9yj {
   margin: 50px auto 0 auto;
}